@font-face {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/gibson/Gibson-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/gibson/Gibson-SemiBold.otf') format('opentype');
}
@font-face {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/gibson/Gibson-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Gibson';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/gibson/Gibson-Light.otf') format('opentype');
}